*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font: #777777;
}
html,body{
    height: 100%;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
table{
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-bottom-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#name{
    text-align: center;
    font-size: 25px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 250px;
    height: 100px;
    padding: 25px;
    margin:auto;
}
nav{
    color: #777777;
    font-size: 20px;
    /*position: fixed; */;
    top: 0;
    float: left;
    margin: 0px;
    padding: 20px;  
}
a:link{
    color: #777777;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}
.content{
    width: 100%;
    border: 20px solid;
    border-color: red;
    margin:auto;
    background-image: url('../images/memphis-mini.png')
     }
.bio{
    border: 10px solid;
}